doctype html
html
  include head.pug
  body
    .container
      include header.pug
      .content
        h1.title !{htmlTitle}
        span.meta !{meta}
        | !{html}
        each post in posts
            li
             a(hres.render("list"), {
      href='/read/' + post.id !{post.htmlTitle})
             span(class="meta") !{post.prettyDate}
        include footer.pug